@import url("https://fonts.googleapis.com/css?family=Tangerine");
*{
    padding: 0;
    margin: 0;
}


body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 30px;
    background-color: rgb(46, 46, 46);
}
.page-container{
    padding: 30px;
    background-color: aliceblue;
    border-radius: 10px;
    height: 85vh;
   
}

.page-container:hover{
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    color: white;
    box-shadow: 1px 1px 10px rgb(243, 243, 243);
    
}

h1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all .5s ease-in-out;
}

h1:hover{
    color: rgb(17, 107, 70);
    transition: all ease-in-out;
}

p{
    width: auto;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(243, 243, 243);
    padding: 20px;
    color: aliceblue;
    transition: all .5s ease-in-out;
}

p:hover{
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    color: white;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
    padding: 20px;
    transition: all .5s ease-in-out;
}


